@font-face {
    font-family: "Entypo";
    src: url("entypo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EntypoSocial";
    src: url("entypo-social.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}